.kcontainer{
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
  background-color: #CBE9FF;
  /* background-image: url("../../Oassets/Office4.jpg"); */
  
}

.text_color{
  color: #0193FD;
  padding-bottom: 0rem;
}