.c-wrapper .c-container{
    justify-content: space-around;
    gap: 1rem;
  }
  
  .c-container img{
    /* width: 9rem; */
    width: 158px;
    height: 48px;
  }

.text{
  align-content: center;
  padding: auto;
}